<div class="contenedor">
    <div class="header">
        <h1>LIstado de partidos</h1>
    </div>

    <div class="options"> 
        <table class="table">
            
            <thead class="titulo">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">E. Local</th>
                <th scope="col">E. Visitante</th>
                <th scope="col">Goles L</th>
                <th scope="col">Goles V</th>
              </tr>
              
            </thead>
            
            <tbody *ngFor="let partido of partidos">
              <tr>
                <td scope="row">{{partido.fecha}}</td>
                <td>{{partido.local}}</td>
                <td>{{partido.visitante}}</td>
                <td>{{partido.goles_local}}</td>
                <td>{{partido.goles_visitante}}</td>
              </tr>
            </tbody>
          </table>
    </div>
        
    </div>

