<div class="contenedor">
    <div class="header">
        <h1>LIstado de partidos</h1>
    </div>

    <div class="options"> 
        <table class="table">
            
            <thead class="titulo">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">E. Local</th>
                <th scope="col">E. Visitante</th>
                <th scope="col">Goles L</th>
                <th scope="col">Goles V</th>
              </tr>
              
            </thead>
            
            <tbody>
              <tr>
                <td scope="row">03/08/2021</td>
                <td>Manchester</td>
                <td>Millonarios</td>
                <td>0</td>
                <td>5</td>
              </tr>
              <tr>
                <td scope="row">04/08/2021</td>
                <td>Junior</td>
                <td>FC Barcelona</td>
                <td>4</td>
                <td>2</td>
              </tr>
              <tr>
                <td scope="row">05/08/2021</td>
                <td>Cali</td>
                <td>Medellin</td>
                <td>1</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
    </div>
        
    </div>

