

<section class="contenedor-login fondo">
    <form class="form" action=""><h2>Registrarse</h2>
        <label for="Usuario">Nombre:</label><br>
        <input type="text" id="usuario" name="usuario" placeholder="Pedro Martinez"><br>
        <label for="Usuario">Correo:</label><br>
        <input type="email" id="usuario" name="usuario" placeholder="Pedro@correo.com"><br>
        <label for="Usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario" placeholder="Pedro123"><br>
        <label for="password" >Contraseña:</label><br>
        <input type="password" id="password" name="password" placeholder="******"><br>
        <button type="submit">Registrar</button><br>
        <a href="">Ya tengo una cuenta</a></form>
</section>