<div class="contenedor">
    <div class="header">
        <h1>Agregar partido</h1>
        <p>LLene todos los campos para registrar partido.</p>
    </div>

    <div class="options"> 
        <div class="campo">
            <label class="titulo" for="password" >Fecha:</label><br>
            <input type="datetime" id="password" name="password" placeholder="15/08/2021"><br>
        </div>

        <div class="campo">
            <label class="titulo" for="password" >Equipo visitante:</label><br>
            <select name="select">
                <option value="value1">Millonarios</option>
                <option value="value2" >Junior</option>
                <option value="value3">Medellin</option>
              </select>
        </div>
        <div class="campo">
            <label class="titulo" for="password" >Equipo local:</label><br>
            <select name="select">
                <option value="value1">FC. Barcelona</option>
                <option value="value2" >Cali</option>
                <option value="value3">Jaguares</option>
              </select>
        </div>

        <div class="campo">
            <button>Agregar</button>
        </div>
        
    </div>
