<div class="contenedor">
    <div class="header">
        <h1>Actualizar partido</h1>
        <p>Ingrese los goles de cada equipo.</p>
    </div>

    <div class="options"> 
        <div class="campo">
            <label class="titulo" for="password" >Fecha:</label><br>
            <input type="datetime" id="fecha" name="fecha" value="15/08/2021" disabled="disabled"><br>
        </div>

        <div class="campo">
            <label class="titulo" for="visitante" >Equipo visitante:</label><br>
            <input type="text" id="visitante" name="visitante" value="Junior" disabled="disabled"><br>
        </div>

        <div class="campo">
            <label class="titulo" for="local" >Equipo local:</label><br>
            <input type="text" id="local" name="local" value="Millonarios" ><br>
        </div>

        <div class="campo">
            <label class="titulo" for="gvisitante" >Goles visitante:</label><br>
            <input type="number" id="password" name="password" placeholder="1" ><br>
        </div>

        <div class="campo">
            <label class="titulo" for="glocal" >Goles local:</label><br>
            <input type="number" id="glocal" name="glocal" placeholder="0" ><br>
        </div>

        
        

        <div class="campo">
            <button>Actualizar</button>
        </div>
        
    </div>

