<div class="contenedor">
    <div class="header">
        <h1>Actualizar partido</h1>
        <p>Ingrese los goles de cada equipo.</p>
    </div>

    <form class="options" [formGroup]="actualizarForm"
    (ngSubmit)="actualizar()" autocomplete="off"> 
        <div class="campo">
            <label class="titulo"  >Fecha:</label><br>
            <input type="datetime" id="fecha" formControlName="fecha" value="{{partido.fecha}}" placeholder="{{partido.fecha}}"><br>
        </div>

        <div class="campo">
            <label class="titulo" for="visitante" >Equipo visitante:</label><br>
            <input type="text" id="visitante" formControlName="visitante" value="{{visitante.id}}" placeholder="{{visitante.nombre}}" ><br>
        </div>

        <div class="campo">
            <label class="titulo" for="local" >Equipo local:</label><br>
            <input type="text" id="local" formControlName="local" value="{{local.id}}" placeholder="{{local.nombre}}"><br>
        </div>

        <div class="campo">
            <label class="titulo" for="gvisitante" >Goles visitante:</label><br>
            <input type="number"  formControlName="goles_visitante"  ><br>
        </div>

        <div class="campo">
            <label class="titulo" for="glocal" >Goles local:</label><br>
            <input type="number" id="glocal" formControlName="goles_local"  ><br>
        </div>

        
        

        <div class="campo">
            <button>Actualizar</button>
        </div>
        
    </form>

