
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
        background: url('https://p4.wallpaperbetter.com/wallpaper/785/685/242/soccer-stadium-2048x1360-sports-football-hd-art-wallpaper-preview.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    
}

